<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <!--<extensions>
         <behaviorExtensions>
            <add name="ErrorLogging" type="ErrorHandlerBehavior, ErrorHandling, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
         </behaviorExtensions> 
      </extensions> -->
    <bindings>
      <netNamedPipeBinding>
        <binding name="basicNetNamedPipeStreaming" transferMode="Streamed"
           maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10"
           maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647"
             maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
        <binding name="basicNetNamedPipe" maxBufferPoolSize="2147483647"
           maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647"
             maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="basicNetTcpStreaming" transferMode="Streamed"
           maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10"
           maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647"
             maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="basicNetTcp" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
           maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647"
             maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="customQuotaBehavior">
          <dataContractSerializer />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="serviceBehavior2">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="serviceBehavior2" name="Hitachi.Tester.Module.TesterObjectStreaming">
        <clear />
        <endpoint address="TesterObjectStreaming" binding="netTcpBinding"
           bindingConfiguration="basicNetTcpStreaming" name="basicNetTcpStreaming"
           contract="Hitachi.Tester.Module.ITesterObjectStreaming" listenUriMode="Explicit" />
        <endpoint address="TesterObjectStreaming" binding="netNamedPipeBinding"
           bindingConfiguration="basicNetNamedPipeStreaming" name="basicNetNamedPipeStreaming"
           contract="Hitachi.Tester.Module.ITesterObjectStreaming" />
        <endpoint binding="mexHttpBinding" name="mex" contract="IMetadataExchange"
           listenUriMode="Explicit" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9125" />
            <add baseAddress="http://localhost:8001" />
            <add baseAddress="net.pipe://localhost" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Hitachi.Tester.Module.TesterObject">
        <clear />
        <endpoint address="TesterObject" binding="netTcpBinding" bindingConfiguration="basicNetTcp"
           name="basicNetTcp" contract="Hitachi.Tester.Module.ITesterObject"
           behaviorConfiguration="customQuotaBehavior"
           listenUriMode="Explicit" />
        <endpoint address="TesterObject" binding="netNamedPipeBinding"
           bindingConfiguration="basicNetNamedPipe" name="basicNetPipe"
           behaviorConfiguration="customQuotaBehavior"
           contract="Hitachi.Tester.Module.ITesterObject" />
        <endpoint binding="mexHttpBinding" name="mex" contract="IMetadataExchange"
           listenUriMode="Explicit" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9124" />
            <add baseAddress="http://localhost:8000" />
            <add baseAddress="net.pipe://localhost" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <appSettings>
    <add key="Vcc5NoLoadMin" value="4.75" />
    <add key="Vcc5NoLoadMax" value="5.75" />
    <add key="Vcc5LoadMin" value="4.75" />
    <add key="Vcc5LoadMax" value="5.75" />
    <add key="Vcc5SwitchMin" value="4.85" />
    <add key="Vcc5SwitchMax" value="5.15" />

    <add key="Vcc12NoLoadMin" value="10.8" />
    <add key="Vcc12NoLoadMax" value="13.2" />
    <add key="Vcc12LoadMin" value="10.8" />
    <add key="Vcc12LoadMax" value="13.2" />
    <add key="Vcc12SwitchMin" value="11.75" />
    <add key="Vcc12SwitchMax" value="12.25" />
  </appSettings>
</configuration>
<!-- WCF Host app.config  -->
